<h1>Listing sheets</h1>

<ul>

    <% Sheet::languages.each do |language| %>
      <li><a href="/languages/<%= linkify(language) %>"><%= language %></a></li>
    <% end %>
</ul>

<br />

<%= link_to 'New Sheet', new_sheet_path %>
