@mixin rounded-top($r:5px) {
  border-top-right-radius: #{$r}; border-top-left-radius: #{$r};
  -moz-border-radius-topright: #{$r}; -moz-border-radius-topleft: #{$r};
  -webkit-border-top-right-radius: #{$r}; -webkit-border-top-left-radius: #{$r};
}

@mixin rounded-bottom($r:5px) {
  border-bottom-right-radius: #{$r}; border-bottom-left-radius: #{$r};
  -moz-border-radius-bottomright: #{$r}; -moz-border-radius-bottomleft: #{$r};
  -webkit-border-bottom-right-radius: #{$r}; -webkit-border-bottom-left-radius: #{$r};
}

@mixin inset-shadow($color:#888, $distance:5px, $blur:0, $spread:0) {
  -moz-box-shadow   : inset $distance $distance $blur $spread $color;
  -webkit-box-shadow: inset $distance $distance $blur $spread $color;
  box-shadow        : inset $distance $distance $blur $spread $color;
}

@mixin shadow($color:#888, $distance:5px, $blur:0, $spread:0) {
  -moz-box-shadow   : $distance $distance $blur $spread $color;
  -webkit-box-shadow: $distance $distance $blur $spread $color;
  box-shadow        : $distance $distance $blur $spread $color;
}

@mixin rounded($r:5px) { @include rounded-top($r); @include rounded-bottom($r); }
@mixin clearfix { overflow:hidden; width:100%; }




body {
  background: #CCCCCC;
  font-family:Georgia;
  font-size:16px;
  line-height:1.4em;
  margin:0;
  padding:0;
}

/*  TODO investigate this on a wide screen...it'll look funny */
#header {
  background-color:#000;
  color:#ddd;
  height:40px;

  #user_control {
    float:right;

    form {
      height:40px;
      padding-top:7px;

      input[type=text],input[type=password] {
        width:10em;
      }
    }

    a {
      color:#ddd;
      text-decoration:none;
      line-height:40px;
      margin-right:10px;
    }
  }

  h1 {
    margin:0;
    padding:10px;
  }
}

#page_wrapper {
  margin: 0 auto;
  width: 960px;
  background: #FFFFFF;

  #flashes {
    .error {
      background: #FFBBBB;
      border: 1px solid #FF0000;
    }
    .warning {
      background: #FFFBBB;
      border: 1px solid #FFF000;
    }
    .notice {
      background: #9999FF;
      border: 1px solid #0000FF;
    }
    .flash {
      @include rounded(3px);
      padding-left:8px;
    }
  }

  #content {
    padding-left:8px;
  }

  @include rounded(5px);
  @include shadow(#555, 0, 10px);
}
